$c-height: 150px;
$grid-line: 8px;

h1 {
    margin-top: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    min-width: 320px;
    
}

#grid {
    width: 700px;
    
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $c-height;
    cursor: pointer;
}   

.first {
    border-right: $grid-line solid black;
}

.last {
    border-left: $grid-line solid black;
}

.symbol {
    font-size: 80px;
}

#start {
    color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
}

.row {
    text-align: center;
}

.player-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: space-around;

    input[type="text"] {
        color: white;
        border-bottom: 2px solid white !important;        
    }

    input::placeholder {
        color: white;
        text-align: center;
    }
}

.btn-div {
    // display: flex;
    // align-items: center;
    // justify-content: center;
}
.play-btn {
    display: block;
    margin: auto;
    margin-bottom: 2em;
    width: 5rem;
}